<!DOCTYPE html>
<html>
<head>
	
	<title>{{ document_title }}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

	
	<!-- ESRI Leaflet -->
	<script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js" integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ==" crossorigin=""></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

	<style>
		body {
			padding: 2px;
			padding-top: 65px;
            margin: 0;
            max-width: 1100px;
		}
		html, body, #map {
			/* height: 95%;
			width: 100vw; */
			width: calc( 100vw - 64px );
			height: calc( 100vh - 100px );
			margin: auto;
		}
	</style>
	
</head>
<nav class="navbar navbar-default navbar-fixed-top">
	<!-- Navbar Container -->
	<div class="container">

		<!-- Navbar Header [contains both toggle button and navbar brand] -->
		<div class="navbar-header">
			<!-- Toggle Button [handles opening navbar components on mobile screens]-->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
				<i class="glyphicon glyphicon-align-center"></i>
			</button>

			<!-- Navbar Brand -->
			<p class="navbar-brand">
				{{ page_title }}
			</p>
		</div>


		<!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
		<div class="collapse navbar-collapse" id="exampleNavComponents">

			<!-- Navbar Menu -->
			<ul class="nav navbar-nav navbar-right">

				<!-- Navbar link with a dropdown menu -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						View Maps in the Diff
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="javascript:history.go(-1)"><b>Home</b></a></li>
						{% for link, link_text in links %}
						<li><a href="{{ link }}">{{ link_text }}</a></li>
						{% endfor %}
						<li><a href="https://openstreetmap.org">OpenStreetMap.org</a></li>
					</ul>
				</li>
			</ul>	
		</div>
	</div>
</nav>
<h2> About this project </h2>
<p>
    This project was developed in an attempt to assist NYSDOT employees in maintaining
    their Milepoint Linear Referencing System (LRS). The LRS is a GIS dataset that maps the roadways 
    of New York State to their correct geospatial location. The GIS lines which make up the data 
    have "m-values" embedded in their vertices, which allows NYSDOT and its stakeholders to refer 
    to a location on a roadway by a ROUTE_ID and the "measure location". This system is similar to the 
    mile markers you see along highways.
</p>
<p>
    While NYSDOT employees are always willing to edit data as needed to maintain an up-to-date LRS,
    there is often uncertainty as to what parts of the dataset need to be updated. To this end,
    we've developed a system to ingest <a href="https://openstreetmap.org">OpenStreetMap (OSM)</a> "diff" files,
    or difference files.
</p>
<p>
    OpenStreetMap is a modern web mapping dataset that is similar in characteristics to more popular mapping 
    products, such as Google Maps and Bing Maps. There are some major differences between OSM and 
    the commodotized mapping datasets. Namely, OSM is open in that anyone can download or edit the data. 
    OSM has an active community base in Europe, and its popularity is increasing in the United States as well.
    As contributors edit the "ways", or roads, in OSM, the edits show up in the OSM diff files, which we download
    from a company called <a href="https://download.geofabrik.de/north-america/us/new-york.html">Geofabrik</a>.
</p>
<p>
    Whenever a new diff file is available from OSM, we process the latest changes in a database. The locations 
    where changes were made are recorded, and a map is rendered of the area showing the New York State LRS and the 
    OSM diff data for that location. Hopefully this will help NYSDOT realize roadway realignments and mapping errors
    more rapidly.
</p>

<h2> Usage Tips </h2>
<p>
	When viewing maps, the default basemap is <a href="https://openstreetmap.org">OpenStreetMap</a>, served from their
	infrastructure. The benefit of using OSM as the default basemap is that the OSM edit, which shows up yellow on the maps,
	corresponds with the way the basemap is drawn. There are other services that provide OpenStreetMap tiles that are much faster,
	but they do not have the latest data.
	If the speed of the basemap becomes an issue, simply change the basemap to something other than the
	default (e.g. Imagery, Esri Streets, etc.).
</p>
<h2>
    Summary for Processing Date {{ processing_date }} on OSM diff {{ diff_id }}
</h2>
<p>
<ul>
	{% for link, link_text in links %}
	<div class="form-check">
		<label class="form-check-label">
			<input class="form-check-input" type="checkbox" value="1" checked="">
			<a href="{{ link }}">{{ link_text }}</a>
		</label>
	</div>
	{% endfor %}
</ul>

</p>
<script>
	$('input[type=checkbox]').removeAttr('checked');
</script>
</body>
</html>
