<!DOCTYPE html>
<html>
<head>

  <title>{{ document_title }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>


  <!-- ESRI Leaflet -->
  <script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js" integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ==" crossorigin=""></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <style>
    body {
      padding: 2px;
      padding-top: 65px;
      margin: 0;
      max-width: 1100px;
    }
    html, body, #map {
      width: calc( 100vw - 64px );
      height: calc( 100vh - 100px );
      margin: auto;
    }
    .dropdown-menu {
      overflow-y: scroll;
      max-height: 400px;
    }
    .image-size {
      max-width: 1000px;
      margin: auto;
    }
    .caption-text {
      color: #a7a9ac;
    }
  </style>

</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Navbar Container -->
    <div class="container">

      <!-- Navbar Header [contains both toggle button and navbar brand] -->
      <div class="navbar-header navbar-left">

        <!-- Navbar Brand -->
        <p class="navbar-brand">
          {{ page_title }}
        </p>
      </div>


      <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
      <div class="collapse navbar-collapse" id="exampleNavComponents">

        <!-- Navbar Menu -->
        <ul class="nav navbar-nav navbar-right">

          <!-- Navbar link with a dropdown menu -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              More Maps from this Diff
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="../index.html"><b>Home</b></a></li>
              {% for link, link_text in links %}
              <li><a href="{{ link }}">{{ link_text }}</a></li>
              {% endfor %}
              <li><a href="https://openstreetmap.org">OpenStreetMap.org</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<h2> About this project </h2>

<p>
  This project was developed in an attempt to assist NYSDOT employees in maintaining
  their Milepoint Linear Referencing System (LRS). The LRS is a GIS dataset that maps the roadways
  of New York State to their correct geospatial location. The GIS lines which make up the data
  have "m-values" embedded in their vertices, which allows NYSDOT and its stakeholders to refer
  to a location on a roadway by a ROUTE_ID and the "measure location". This system is similar to the
  mile markers you see along highways.
</p>
<p>
  While NYSDOT employees are always willing to edit data as needed to maintain an up-to-date LRS,
  there is often uncertainty as to what parts of the dataset need to be updated. To this end,
  we've developed a system to ingest <a href="https://openstreetmap.org">OpenStreetMap (OSM)</a> "diff" files,
  or difference files.
</p>
<p>
  <br>
  <img src="{{ unbuilt_road }}" class="image-size" alt="Responsive image">
  <div class="caption center-block caption-text">
    The above image is an example OSM diff that identified a location where NYSDOT does not currently
    have record of the roadway. When a NYSDOT analyst is provided a map like this, they can quickly and 
    efficiently determine whether or not the roadway belongs in NYDOT's inventory, enabling them to can act appropriately.
  </div>
  <br>
</p>

<p>
  OpenStreetMap (OSM) is a modern web mapping dataset that is similar in characteristics to more popular mapping
  products, such as Google Maps and Bing Maps. There are some major differences between OSM and
  the commodotized mapping datasets. Namely, OSM is open in that anyone can download or edit the data.
</p>

<p>
  OSM originated in the United Kingdom in 2004, and it was inspired by the success of the user-edited encyclopedia 
  we've all come to know and love, <a href="https://wikipedia.org">Wikipedia</a>.
  OSM has an active community base across the world, with over 2M registered users. 
  As contributors edit the "ways", or roads, in OSM, the edits show up in the OSM diff files, which we download
  from a company called <a href="https://download.geofabrik.de/north-america/us/new-york.html">Geofabrik</a>.
</p>
<p>
  Whenever a new diff file is available from OSM, we process the latest changes in a database. The locations
  where changes were made are recorded, and a map is rendered of the area showing the New York State LRS and the
  OSM diff data for that location. Hopefully this will help NYSDOT realize roadway realignments and mapping errors
  more rapidly.
</p>

<h2> How the maps are made </h2>
<p>
  There is an automated script that downloads the OSM diff data from Geofabrik's servers.
  The data is ingested into a PostgreSQL database that is housed on a PC workstation. The database 
  which consumes the OSM diffs also has a recent copy of the Milepoint LRS loaded in as a table.
  From there, we use a simple geospatial analysis to select the correct GIS data for display. 
  The GIS data is then rendered to a series of maps using Django, a Python web framework for perfectionists
  with a deadline
</p>

<p>
  <img src="./static/explanation_image.png" alt="awesome GIS screenshot that explains it all">
  <br>
</p>

<p>
  The above image helps to explain the data that you can see in these maps. In the screenshot, two example 
  OSM ways from the diff file are visualized in yellow. This is where the analysis starts. We calculate a 
  buffer of approximately 1 km in each direction from those ways. If the buffer polygons intersect one another, 
  they get dissolved into one polygon (shown in red above).
</p>

<p>
  The polygon from the buffer represents the edited area on OpenStreetMap. We use these polygons to select 
  any Milepoint geometry (show in blue above) that touches the polygon. From there, the data are serialized 
  (converted to a web-native format called geoJSON), packed into an HTML template, and saved into a distributable archive. 
   
</p>
  Each individual polygon is treated as its own edit area, and as such it is assigned a unique ID. The IDs are coposed as follows:
  <ul>
    <li>
      OSM_DIFF_ID:OSM_POLYGON_ID
    </li>
  </ul>
  For example:
  <ul>
    <li>
      317:000 - This ID is the first polygon processed from diff 317
    </li>
    <li>
      310:028 - This ID is the twenty-eight polygon processed from diff 310
    </li>
  </ul>
  The IDs are listed in  the summary section below and in the "More Maps from this Diff" dropdown in the navigation bar. They're 
  nothing more than a handy way to identify which map you are looking at, so that these maps can be more easily shared.
<p>

</p>

<h2> Q&A </h2>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Why is the default basemap so slow?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
    <div class="panel-body">
      <p>
        When viewing maps, the default basemap is <a href="https://openstreetmap.org">OpenStreetMap</a>, served from their
        infrastructure. The benefit of using OSM as the default basemap is that the OSM edit, which shows up yellow on the maps,
        corresponds with the way the basemap is drawn. There are other services that provide OpenStreetMap tiles that are much faster,
        but they do not have the latest data.
        If the speed of the basemap becomes an issue, simply change the basemap to something other than the
        default (e.g. Imagery, Esri Streets, etc.).
      </p>
    </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Why is the OSM geometry (the yellow line) not following the roadways?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
      <p>
        The OSM data that are visualized in these maps have been through the wringer. First of all, the OSM diffs were intended to
        let systems know that the OSM source data has changed. It's probably not intended for human consumption. Further, the OSM
        data format is not immediately GIS-friendly. The data are processed by 3 separate tools prior to making their way into this map.
        Sometimes georeferencing errors will occur in these processes.
      </p>
      <p>
        If you are unclear as to what the OSM geometry should be, you can click on the yellow line, which will bring up a pop-up with
        that way's data. In the popup, click on the OSM ID, which should be a blue hyperlink. This will take you to the OSM data for that
        particular roadway, which will include the true geometry as represented in OSM along with the edit history for that stretch of road.
      </p>
    </div>
    </div>
  </div>
</div>

<h2>
  Summary for Processing Date {{ processing_date }} on OSM diff {{ diff_id }}
</h2>
<p>
<ul>
  {% for link, link_text in links %}
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="1" checked="">
      <a href="{{ link }}">{{ link_text }}</a>
    </label>
  </div>
  {% endfor %}
</ul>

</p>
<script>
  $('input[type=checkbox]').removeAttr('checked');
</script>
</body>
</html>
